<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.S͔ɭᴜᶅſɔꞀȷ̀ɔꞀȷ̀ɹSɭˬꞇᴜ"
        android:name=".ChaweEIikrhia">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.S͔ɭᴜᶅſɔꞀȷ̀ɔꞀȷ̀ɹSɭˬꞇᴜ"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Swekef"
            android:exported="true"
            android:theme="@style/Theme.S͔ɭᴜᶅſɔꞀȷ̀ɔꞀȷ̀ɹSɭˬꞇᴜ">
        </activity>
        <activity
            android:name=".Miiswekef"
            android:exported="true"
            android:theme="@style/Cuhii">
        </activity>
    </application>

</manifest>